.title{
    margin: 50px;
}
#aboutUs .page .title>div{
    width: 100px;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;

    div{
        color: var(--primary-color);
        position: absolute;
        left: 50%;
        margin: -6px;
        font-weight: var(--font-bold);

    }
}

#aboutUs .flex {
    margin-bottom: 50px;

    figure{
        border: 3px solid var(--primary-color);
        margin: 40px;
        transform: rotate(10deg);

        img{
            transform: rotate(-10deg);
        }
    }
    article{
        margin: 40px;

        h3{
            font-weight: var(--font-bold);
        }
        
        h4{
            color: var(--primary-color);
            margin: 10px 0;
        }

        p{
            color: var(--color-p)
        }
    }
}

#aboutUs .flex figure:hover {
    transform: rotate(0deg);
    
}

#aboutUs .flex figure:hover img {
    transform: rotate(0deg);
}



