header{
    width: 100vw;
    background-color: var(--secondary-color);
}
.contacto nav{
    max-width: 1004px;
    margin: auto;
    font-family: "Montserrat", serif;



    ul{
        display: flex;
        justify-content: space-around;

        a{
            text-decoration: none;
        }

        i{
            font-size: 170%;
            color: var(--primary-color);
            padding: 20px 0px;
        }
        span{
            display: none;
            color: white;
        }
    }
}