body{
    font-size: var(--font-size);
    font-family: var(--primary-font);
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.page{
    max-width: 62.75rem;
    margin: 0 auto;
}

a{
    display: inline-block;
    text-decoration: none;
}
