/* 768 to 1004 */
@media(width>=48rem){
    .contacto nav ul {
        justify-content: space-between;
        
        span {
        display: inline;
        }
    }
    .hamburguer{
        display: none;
    }
    .menu{
        display: flex;
        margin: 0;
    }

    hr{
        display: none;
    }
    .menu{
        justify-content: space-between;
    }
    .container ul{
        display: flex;
        li{
            margin-left: 1.25rem;
        }
    }

    .ourServices .flex{
        display: flex;
        article{
            padding: var(--gap);
            border-left: 0.0625rem solid var(--text-color);
            margin: 0;
        }
    }

    .aboutUs .flex{
        display: flex;
    }
    
    .aboutUs .title{
        margin-bottom: 0;
    }

}

