/* 768 to 1004 */
@media(width>=48rem){
    .contacto nav ul {
        justify-content: space-between;
        
        span {
        display: inline;
        }
    }
    .hamburguer{
        display: none;
    }
    .menu{
        display: flex;
        margin: 0;
    }
    /* .container{
        margin-right: 0;
    } */
    hr{
        display: none;
    }
    .menu{
        justify-content: space-between;
    }
    .container ul{
        display: flex;
        li{
            padding-right: 0 ;
        }
    }
    

}

