.ourServices i{
    color: var(--primary-color);
    border: 0.0625rem solid var(--primary-color);
    padding: 0.625rem;
    font-size: 150%;
}
h2{
    font-family: var(--secondary-font);
    font-size: 200%;
    text-align: center;
    span{
        color: var(--primary-color);
    }
}
.ourServices .page article{
    margin: 0 1.25rem;

    p{
        color: var(--color-p);
    }
    a{
        margin: 0.625rem 0;
        color: var(--primary-color);
        font-weight: var(--font-bold) ;
    }
}
.ourServices h3{
    font-weight: var(--font-bold) ;
    margin: 0.625rem 0;
}

.ourServices .page .fa-truck{
    transform: rotateY(180deg);
}

.ourServices .page .title>div{
    width: 6.25rem;
    height: 0.125rem;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.3125rem;
    div{
        color: var(--primary-color);
        position: absolute;
        left: 50%;
        margin: -0.375rem;
        font-weight: var(--font-bold);
    }
}


