.ourServices i{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    font-size: 150%;
}
h2{
    font-family: var(--secondary-font);
    font-size: 200%;
    padding-top: 30px;
    text-align: center;
    span{
        color: var(--primary-color);
    }
}
.ourServices .page article{
    margin: 20px;

    p{
        color: #635d5d;
    }
    a{
        margin: 10px 0;
        color: var(--primary-color);
        font-weight: var(--font-bold) ;
        font-size: 80%;
    }
}
h3{
    font-weight: var(--font-bold) ;
    margin: 10px 0;
}

.ourServices .page .fa-truck{
    transform: rotateY(180deg);
}

.ourServices .page>div{
    width: 100px;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    div{
        color: var(--primary-color);
        position: absolute;
        left: 50%;
        margin: -6px;
        font-weight: var(--font-bold);

    }
}


