.ourServices i{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    font-size: 150%;
}
.ourServices .page>div{
    padding-top: 30px;
    text-align: center;
}
h2{
    font-family: var(--secondary-font);
    font-size: 200%;
    span{
        color: var(--primary-color);
    }
}
.ourServices .page article{
    margin: 20px;
}
h3{
    font-weight: var(--font-bold) ;
    margin: 10px 0;
}
